@model IEnumerable<DMHR.Models.Nomina>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MontoTotal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date.Month)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MontoTotal)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.NominaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.NominaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.NominaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
