@model DMHR.Models.SalidadeEmpleado

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SalidadeEmpleado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TipoDeSalida)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TipoDeSalida)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Motivo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Motivo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaSalida)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaSalida)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmpleadoId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmpleadoId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="SalidaEmpleadoId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
