@model DMHR.Models.SalidadeEmpleado

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SalidadeEmpleado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TipoDeSalida)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TipoDeSalida)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Motivo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Motivo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaSalida)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaSalida)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmpleadoId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmpleadoId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SalidaEmpleadoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
