@model DMHR.Models.Empleado

@{
    ViewData["Title"] = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h2 class="login-logo">@ViewData["Title"]</h2>
    <ol class="breadcrumb">
        <li><a asp-area="" asp-controller="Home" asp-action="Index"><i class="glyphicon glyphicon-home"></i><span>Home</span> </a></li>
        <li> <a class="" asp-area="" asp-page="/Empleados/Details"><i class="glyphicon glyphicon-th-large"></i><span>Informes</span></a></li>
        <li> <a asp-action="Index">Empleados</a></li>
        <li> <a class="" asp-area="" asp-page="/Empleados/Details"><span>Detalles</span></a></li>
    </ol>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <div class="">
        <div class="">
            <div class="box box-primary">
                <div class="box-header with-border">
                </div>
                <div class="box-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.CodigoEmpleado)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Nombre)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Apellido)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Telefono)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FechaIngreso)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Salario)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.IsActive)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CargoNombre)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DepartamentoNombre)
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    @Html.DisplayFor(model => model.CodigoEmpleado)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.Nombre)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.Apellido)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.Telefono)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.FechaIngreso)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.Salario)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.IsActive)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.CargoNombre)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.DepartamentoNombre)
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="box-footer">
                    <div class="margin">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default"><a asp-action="Edit" asp-route-id="@Model.EmpleadoId">Editar</a></button>
                            <button type="button" class="btn btn-danger"><a asp-action="Delete" asp-route-id="@Model.EmpleadoId">Eliminar</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>