@model IEnumerable<Empleado>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<section class="content-header">
    <h1>Empleados</h1>

    <p>
        <a asp-action="Create">Agregar Empleado</a>
    </p>
</section>
<!-- Main content -->

<section class="content container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Lista de Empleados</h3>
                    <div class="box-tools">
                        <form asp-action="Index" method="get">
                            <div class="input-group input-group-sm "     style="width: 150px;">
                                <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" class="form-control pull-right" placeholder="Search" />
                                <div class="input-group-btn">
                                    <button type="submit" value="Search" class="btn btn-default">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form> 
                        
                    </div>
                </div>
                <div class="box-body table table-striped ">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.CodigoEmpleado)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Nombre) Completo
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CargoNombre)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DepartamentoNombre)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Telefono)
                                </th>
                                <th>
                                    Fecha de Ingreso
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Salario)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.IsActive)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <i class="fa fa-hashtag">
                                            @Html.DisplayFor(modelItem => item.CodigoEmpleado)
                                        </i>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Nombre)
                                        @Html.DisplayFor(modelItem => item.Apellido)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CargoNombre)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DepartamentoNombre)
                                    </td>
                                    <td>
                                        <i class="fa fa-phone">
                                            @Html.DisplayFor(modelItem => item.Telefono)
                                            @*@String.Format("({0}) {1}-{2} x{3}"
                                    ,item.Telefono.Substring(0, 3)
                                    ,item.Telefono.Substring(3, 3)
                                    ,item.Telefono.Substring(6, 4)
                                    ,item.Telefono.Substring(10, 5))*@
                                        </i>
                                    </td>
                                    <td>
                                        <i class=" fa fa-calendar">
                                            @item.FechaIngreso.ToString("dd/MM/yyyy")
                                        </i>

                                    </td>
                                    <td>

                                        <i class="fa fa-dollar">@Html.DisplayFor(modelItem => item.Salario)</i>
                                    </td>
                                    <td>
                                        @if (item.IsActive == true)
                                        {
                                            <span class="label label-success">
                                                Activo
                                            </span>
                                        }
                                        else
                                        {
                                            <span class="label label-danger">
                                                Inactivo
                                            </span>
                                        }
                                    </td>
                                    <td>
                                        <div class="margin">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-default">
                                                    <a asp-action="Details" asp-route-id="@item.EmpleadoId">Details</a>
                                                </button>
                                               
                                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                    <span class="caret"></span>
                                                    <span class="sr-only">Toggle Dropdown</span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li><a asp-action="Edit" asp-route-id="@item.EmpleadoId">Edit</a></li>
                                                    <li><a asp-action="Details" asp-route-id="@item.EmpleadoId">Details</a></li>
                                                    <li class="divider"></li>
                                                    <li><a asp-action="Delete" class="bg-red-active " asp-route-id="@item.EmpleadoId">Delete</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="box-footer">
                  
                </div>
            </div>
        </div>
    </div>
   

</section>