@model IEnumerable<DMHR.Models.Licencia>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content-header">
    <h2>Licencias</h2>

    <p>
        <a asp-action="Create">Autorizar Licencia</a>
    </p>
</section>
<section class="content container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Licencias</h3>
                    <div class="box-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <input type="text" name="table_search" class="form-control pull-right" placeholder="Search" />
                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-default">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-body table table-striped ">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Desde)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Hasta)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Motivo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Comentarios)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.IsPaid)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Empleado)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Desde)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Hasta)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Motivo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Comentarios)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IsPaid)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Empleado.Apellido)
                                    </td>
                                    <td>
                                        <div class="margin">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-default"><a asp-action="Details" asp-route-id="@item.LicenciaId">Details</a></button>
                                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                    <span class="caret"></span>
                                                    <span class="sr-only">Toggle Dropdown</span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li><a asp-action="Edit" asp-route-id="@item.LicenciaId">Edit</a></li>
                                                    <li><a asp-action="Details" asp-route-id="@item.EmpleadoId">Details</a></li>
                                                    <li class="divider"></li>
                                                    <li><a asp-action="Delete" class="bg-red-active " asp-route-id="@item.LicenciaId">Delete</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


</section>